.container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 42rem;
    align-items: center;
}

.content{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    max-width: var(--max-width);
    width: 100%;
    flex-wrap: wrap;
}

.text{
    color: #FFF;
    display: flex;
    flex-direction: column;
    max-width: 55%;
}

h4,
h1 {
    text-align: left;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 3rem;
}

h4 {
    font-size: 1.3rem;
}

.profile{
    width: 17rem;
    height: 22rem;
    border-radius: 20px;
    animation: fadeSlideRight 1s ease forwards;
    transition: transform 0.4s ease;
}

.profile:hover {
    transform: scale(1.05);
}


.icons{
    color: white;
    margin-top: 1.5rem;
}

.icon{
    padding-left: 0.6rem;
    cursor: pointer;
}

.icon:hover{
    color: #D8BFD8 !important;
}

@media (max-width: 1150px){
    .content{
        max-width: 60rem;
    }

    .text{
        max-width: 60%;
    }
}

@media (max-width: 1025px){
    .content{
        max-width: 55rem;
    }

    .text{
        max-width: 65%;
    }
}


@media (max-width: 930px){
    .container{
        height: 42.5rem;
    }

    .content{
        flex-direction: column;
        align-items: center;
        padding: 0 1rem;
    }

    .icons{
        margin-top: 1rem;
    }

    .text{
        max-width: 100%;
    }

    .profile{
        margin-top: 1rem;
        max-width: 100%;
        width: 18rem;
        height: 23rem;
    }

    h1{
        font-size: 1.7rem;
    }

    h4{
        font-size: 0.9rem;
    }

    h1,h4{
        text-align: center;
    }
}



@keyframes fadeSlideLeft {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeSlideRight {
    from {
        opacity: 0;
        transform: translateX(40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.text {
    animation: fadeSlideLeft 1s ease forwards;
}