.fundo {
    background: #483D8B;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    
}

.title{
    color: white;
    font-size: 2rem;
    font-weight: semi-bold;
    text-align: left;
    padding-left: 13rem;
    
}

.icons{
    color: white;
    padding: 13rem;
    align-items: right;
}

.icon{
    padding: 1rem;
    cursor: pointer;
}

.icon:hover{
    color: #D8BFD8 !important;
}